<div class="sidebar" style="background-color: #1e5631;">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" style="background-color: #155d27;">
      <a href="../index.html" class="logo">
        <img
          src="../assets/img/logo2.png"
          alt="navbar brand"
          class="navbar-brand"
          height="35"
        />
        <span class="ms-1 text-sm text-white"><strong>Recycle</strong>Hub</span>
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
            <i class="fas fa-home" style="color: #b4f8c8;"></i>
            <p style="color: #fcfffd;">Dashboard</p>
          </a>
        </li>
        <li class="nav-item submenu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a data-bs-toggle="collapse" href="#tables">
            <i class="fas fa-recycle" style="color: #b4f8c8;"></i>
            <p style="color: #fcfffd;">Recycling</p>
            <span class="caret"></span>
          </a>
          <div class="collapse show" id="tables">
            <ul class="nav nav-collapse">
              <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/demande">
                  <span style="color: #fcfffd;" class="sub-item">Collections</span>
                </a>
              </li>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngIf="isCollector">
                <a routerLink="/request-list">
                  <span style="color: #fcfffd;" class="sub-item">Validate Request</span>
                </a>
              </li>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngIf="isCollector">
                <a routerLink="/system-points">
                  <span style="color: #fcfffd;" class="sub-item">Points System</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/profil">
            <i class="fas fa-user-cog" style="color: #b4f8c8;"></i>
            <p style="color: #fcfffd;">Profil</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
